:root {
	--mc-yellow: #FFFF55;
}

@font-face{
	font-family: "CFont";
	src: url("minecraft.ttf") format('opentype');
}

html, button, input{
	font-family : CFont;
	color: white;
	text-shadow : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	word-spacing: 0.5em;
	cursor: default;
}

body{
	margin: 0;
}

html{
	background-image: url("dirt.png");
	background-size : 64px 64px;
	image-rendering : pixelated;
}

h1{
	font-size    : 2em;
	margin-bottom: 10px;
	color        : var(--mc-yellow);
	text-shadow  : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	text-align   : center;
}

/* Пре-загрузка */
body::after{
	content: "";
	display: none;
	background:
	url("dirt.png"),
	url("button.png"),
	url("button_hover.png"),
	url("button_disabled.png"),
	url("checkbox.png"),
	url("checkbox_checked.png"),
	url("checkbox_hover.png"),
	url("checkbox_hover_checked.png");
}

::selection{
	opacity: 0;
}

button{
	border-image: url("button.png") repeat;
	border-image-slice  : 6 fill;
	border-image-width  : 32px 32px;
	font-family: CFont;
	cursor: pointer;
	line-height    : 1.35em;
}

button:hover{
	border-image: url("button_hover.png") repeat;
	border-image-slice  : 6 fill;
	border-image-width  : 32px 32px;
	color    : var(--mc-yellow);
}

button:disabled{
	border-image: url("button_disabled.png") repeat;
	border-image-slice  : 6 fill;
	border-image-width  : 32px 32px;
}

label{
	cursor: pointer;
}

input[type='checkbox']{
	-webkit-appearance : none;
	width : 30px;
	height : 30px;
	vertical-align : middle;
	background-image : url("checkbox.png");
	background-size : 100%;
	background-position : right center;
	background-repeat : no-repeat;
	cursor  : pointer;
}

input[type='checkbox']:checked{
	background-image: url("checkbox_checked.png");
}

input[type='checkbox']:hover{
	background-image: url("checkbox_hover.png");
}

input[type='checkbox']:checked:hover{
	background-image: url("checkbox_hover_checked.png");
}

a{
	color: var(--mc-yellow);
	text-decoration : none;
	cursor    : pointer;
}

a:hover{
	color: #FFFFFF;
}

a:active{
	color: #555555;
}

li {
	list-style: none;
	position: relative;
	padding-left: 1.2em;
}

li::before {
	content: "▪";
	position: absolute;
	left: 0;
	top: 0;
}

span li::before{
	display: none;
}