:root {
	--mc-yellow: #FFFF55;
	--mc-red   : #FF5555;
}

@font-face{
	font-family: "CFont";
	src: url("minecraft.ttf") format('opentype');
}

* {
	scrollbar-width: thin;
	scrollbar-color: #898A8A #212121;
}

html, button, input, textarea{
	font-family : CFont;
	color: white;
	text-shadow : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	word-spacing: 0.5em;
	cursor: default;
}

body, p{
	margin: 0;
}

/* Пре-загрузка */
html{
	background:
	url("dirt.png"),
	url("button.png"),
	url("button_hover.png"),
	url("button_disabled.png"),
	url("button_selected.png"),
	url("checkbox.png"),
	url("checkbox_checked.png"),
	url("checkbox_hover.png"),
	url("checkbox_hover_checked.png");
}

html{
	background-image: url("dirt.png");
	background-size : 1024px 1024px;
	image-rendering : pixelated;
}

h1{
	font-size    : 2em;
	margin-bottom: 10px;
	color        : var(--mc-yellow);
	text-shadow  : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	text-align   : center;
}

h2{
	font-size    : 1.5em;
	margin-bottom: 10px;
	text-shadow  : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
}

::selection{
	opacity: 0;
}

textarea::selection {
	background-color: rgba(255, 0, 0, 0.3);
	color: white;
}

button{
	border-image: url("button.png") repeat;
	border-image-slice : 6 fill;
	border-image-width : 32px 32px;
	font-family        : CFont;
	cursor             : pointer;
	line-height        : 1.35em;
}

button:not(:disabled):hover{
	border-image       : url("button_hover.png") repeat;
	border-image-slice : 6 fill;
	border-image-width : 32px 32px;
	color              : var(--mc-yellow);
}

button:disabled{
	border-image       : url("button_disabled.png") repeat;
	border-image-slice : 6 fill;
	border-image-width : 32px 32px;
	cursor             : default;
}

button.Selected{
	border-image       : url("button_selected.png") repeat;
	border-image-slice : 6 fill;
	border-image-width : 32px 32px;
}

label{
	cursor: pointer;
}

input[type='checkbox']{
	-webkit-appearance : none;
	width : 30px;
	height : 30px;
	vertical-align : middle;
	background-image : url("checkbox.png");
	background-size : 100%;
	background-position : right center;
	background-repeat : no-repeat;
	cursor  : pointer;
}

input[type='checkbox']:checked{
	background-image: url("checkbox_checked.png");
}

input[type='checkbox']:hover{
	background-image: url("checkbox_hover.png");
}

input[type='checkbox']:checked:hover{
	background-image: url("checkbox_hover_checked.png");
}

a{
	color: var(--mc-yellow);
	text-decoration : none;
	cursor    : pointer;
}

a:hover{
	color: #FFFFFF;
}

a:active{
	color: #555555;
}

li {
	list-style: none;
	position: relative;
	padding-left: 1.2em;
}

li::before {
	content: "▪";
	position: absolute;
	left: 0;
	top: 0;
}

span li::before{
	display: none;
}

textarea {
	font-family: CFont;
	color: white;
	text-shadow: 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	background-color: #2d2d2d;
	border: none;
	border-image: url("area.png") repeat;
	border-image-slice: 6 fill;
	border-image-width: 16px 16px;
	padding: 10px;
	line-height: 1.35em;
	outline: none;
	background-size: 100% 100%;
	overflow: auto;
	box-sizing: border-box;
}

textarea:focus {
	border-image: url("area_hover.png") repeat;
	border-image-slice: 6 fill;
	border-image-width: 16px 16px;
}

input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: textfield;

	font-family : CFont;
	color       : white;
	text-shadow : 0.135em 0.125em 0px color-mix(in srgb, currentColor 30%, black);
	background-color: #2d2d2d;

	border: none;
	border-image: url("area.png") repeat;
	border-image-slice: 6 fill;
	border-image-width: 16px 16px;

	padding: 6px 10px;
	line-height: 1.35em;
	outline: none;
	width: 120px;
	box-sizing: border-box;
	
	cursor: text;
}

input[type="number"]:focus {
	border-image: url("area_hover.png") repeat;
	border-image-slice: 6 fill;
	border-image-width: 16px 16px;
	color: var(--mc-yellow);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* ======================================================== */

.In{
	border: 3px solid rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5), inset 0px 0px 30px rgba(0,0,0,0.25);
	padding: 15px;
	box-sizing: border-box;
}

.Out{
	border: 3px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5), 0px 0px 30px rgba(0,0,0,0.25);
	padding: 15px;
	box-sizing: border-box;
}