@font-face {
    font-family: "CFont";
    src: url("minecraft.ttf") format('opentype');
}

button{
    border-image: url("button.png") repeat;
    border-image-slice: 6 fill;
    border-image-width: 32px 32px;
    font-family:CFont;
    color:white;
}

button:hover{
    border-image: url("button_hover.png") repeat;
    border-image-slice: 6 fill;
    border-image-width: 32px 32px;
}

button:disabled{
    border-image: url("button_disabled.png") repeat;
    border-image-slice: 6 fill;
    border-image-width: 32px 32px;
}

html{
    font-family:CFont;
    color:white;
    font-size: 1.25em;
    text-shadow: 0.15em 0.15em 0px #2B2B2B;
}

::selection {
	opacity: 0;
}