.hljs{ color: #C4C4C4 !important; }

.hljs-comment{
	color: #4DA248;
}

.hljs-keyword{
	color: #5498D1;
}

.hljs-title.function_{
	color: #D7D7A6;
}

.hljs-string{
	color: #D19982;
}

.hljs-woowz{
	color: #4CC4AC;
}

/*
.hljs-comment,
.hljs-quote {
  color: #B6B18B
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #EB3C54
}

.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #E7CE56
}

.hljs-attribute {
  color: #EE7C2B
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #4FB4D7
}

.hljs-title,
.hljs-section {
  color: #78BB65
}

.hljs-keyword,
.hljs-selector-tag {
  color: #B45EA4
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}*/